* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 0.1rem;
	transition: 0.2s linear;
}
h3 {
	margin-bottom: 1rem;
	color: #333;
}
.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8%;
	background-color: #f4f4f4;
	border-bottom: 0.1rem solid #ccc;
}

.login form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1rem;
}

.email,
.pw {
	margin-bottom: 1rem;
	padding: 1rem;
	height: 1rem;
	width: 18rem;
	border: 0.2rem solid #ccc;
	border-radius: 0.5rem;
}

.btn-primary {
	padding: 0.8rem 2rem;
	background-color: #000000;
	color: white;
	border: none;
	border-radius: 0.5rem;
}
.btn-primary:hover {
	background-color: #ff0000;
	color: white;
	text-size-adjust: auto;
	cursor: pointer;
	height: 3rem;
	width: 8rem;
}
